[submodule "cbmc-templates"]
	path = verification/cbmc/templates
	url = https://github.com/awslabs/aws-templates-for-cbmc-proofs.git
[submodule "litani"]
	path = verification/cbmc/litani
	url = https://github.com/awslabs/aws-build-accumulator
