sudo: false
language: c

os: osx
osx_image:
  - xcode8
  - xcode9.2
  - xcode10.1
compiler: clang

install:
  - export PATH=$(brew --prefix llvm)/bin:$PATH

script:
  - ./codebuild/common-posix.sh -DCMAKE_EXPORT_COMPILE_COMMANDS=ON
  - clang-tidy -p=build **/*.c
