# Emitted when running CBMC proofs
proofs/**/logs
proofs/**/gotos
proofs/**/report
proofs/**/html

# Emitted by CBMC Viewer
TAGS-*

# Written by litani on each proof run
.litani_cache_dir
.ninja_log
.ninja_deps
