name: Lint

on: [push]

jobs:
  cargo-fmt:
    name: aws-crt-rs
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - uses: actions-rs/toolchain@v1
      with:
          toolchain: stable
    - uses: actions-rs/cargo@v1
      with:
          command: fmt
          args: -- --check

